body
{
  color: rgb(101, 66, 255);
  background: rgb(118, 248, 242);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(10, 0, 0);
  width: 350px;
  height: 300px; 
}
.name_of_objects
  {
    color: crimson;

  }

#result_object_name  , #result_object_accuracy
{
  color: rgb(54, 25, 3);
}